*{
    border: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: cadetblue;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;

    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: brown;
    background-color: antiquewhite;
}
#rstButton{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
}
#newButton{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;   
}
#msg{
    font-size: 8vmin;
    color: white;
}
.msg-container{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hide{
    display: none;
}